@model ConsuPyme_MVC.Models.Acarreos

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Acarreo</h2>
<head>
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePicker/jquery-ui.min.js")" type="text/javascript"> </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $("#Fecha").datepicker();
            });
            $.validator.methods.range = function(value, element, param) {
                var globalizedValue = value.replace(",", ".");
                return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
            }

            $.validator.methods.number = function(value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            }


        });
    </script>
    <script type="text/javascript">
        function busqueda() {
            //alert("busqueda");
            debugger;
            var busqueda = $("#Busqueda").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("Busqueda", "Acarreos")",
                async: false,
                data: { bus: busqueda },
                contentType: 'application/json',
                success: function(result) {
                    debugger;
                    $("#GridData").html(result);
                }

            });
        }
    </script>
</head>

@using (Html.BeginForm()) {
    
    
        

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
      @*  <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>*@
        
    <div class="editor-field">
        @Html.DropDownListFor(m => m.ProveedorId, ViewBag.Proveedor as SelectList)
        @Html.ValidationMessageFor(m => m.ProveedorId)
    </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Numero_Factura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero_Factura)
            @Html.ValidationMessageFor(model => model.Numero_Factura)
        </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.Fecha)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Fecha)
        @Html.ValidationMessageFor(model => model.Fecha)
    </div>

    
        <div class="editor-label">
            @Html.LabelFor(model => model.Importe)
        </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Importe)
        @Html.ValidationMessageFor(model => model.Importe)
    </div>
      <div>
        Buscador de Despachos
    </div>
       <div>
        @Html.TextBox("Busqueda")
    </div>
   

    <p>
        <button value="Busqueda" class="btn" onclick="busqueda();return false;" >Busqueda</button>
    </p>
  
    
        <p>
            <input type="submit" value="Guardar" />
        </p>
    
}
  @Html.Label("Escoja los productos de la factura")
    <div id="GridData">
    @Html.Partial("Grilla")
    </div>
<div>
    @Html.ActionLink("Volver", "Index",new { @class = "btn" })
</div>
