@model Modelo.Factura_Total

@{
    ViewBag.Title = "Create";
    var grid = new WebGrid(ViewBag.Producto, rowsPerPage: 1);
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Factura_Total</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_Orden)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_Orden)
            @Html.ValidationMessageFor(model => model.N_Orden)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Creacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Creacion)
            @Html.ValidationMessageFor(model => model.Creacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero_Factura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero_Factura)
            @Html.ValidationMessageFor(model => model.Numero_Factura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Envalaje)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Envalaje)
            @Html.ValidationMessageFor(model => model.Envalaje)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Flete)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Flete)
            @Html.ValidationMessageFor(model => model.Flete)
        </div>
        
        <div style="width:50%">
    @grid.GetHtml("webgrid", "webgrid-header", "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        columns:
            grid.Columns(
                grid.Column(null, null, @<input type="hidden" name="IDHidden"  id="IDHidden" value="@item.Id"/>),
                grid.Column("Codigo", "Codigo", canSort: false),
                grid.Column("Descripcion", "Descripcion", canSort: false),
                grid.Column("Num_Lote", "Num_Lote", canSort: false, format: @<input type="text" name="nlote" id="nlote" value="" />),
                grid.Column("Precio_Unitario", "Precio_Unitario", canSort: false, format: @<input type="text" id="precio"  name="precio" />),
                grid.Column("Cantidad", "Cantidad", canSort: false, format: @<input type="text" id="cantidad" name="cantidad" />),
                grid.Column("Seleccionar", canSort: false, format: @<input type="checkbox" id="visible" name="visible" value="@item.Id" />)), htmlAttributes: new {id = "Id"})
 
</div>
        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
