@model Modelo.Posicion_Arancelaria

@{
    ViewBag.Title = "Create";
}

<h2>Crear Posicion Arancelaria</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Posicion Arancelaria</legend>

        <div class="editor-label">
            @Html.Label("Numero Posicion")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero_Posicion)
            @Html.ValidationMessageFor(model => model.Numero_Posicion)
        </div>

        <div class="editor-label">
            @Html.Label("Porcentaje Iva")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Porcentaje_Iva)
            @Html.ValidationMessageFor(model => model.Porcentaje_Iva)
        </div>

        <div class="editor-label">
            @Html.Label("Porcentaje Taza Estadistica")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Porcentaje_Taza_Estadistica)
            @Html.ValidationMessageFor(model => model.Porcentaje_Taza_Estadistica)
        </div>

        <div class="editor-label">
            @Html.Label("Porcentaje Importacion")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Porcentaje_Importacion)
            @Html.ValidationMessageFor(model => model.Porcentaje_Importacion)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
