@model Modelo.Posicion_Arancelaria

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Posicion_Arancelaria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero_Posicion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero_Posicion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje_Iva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje_Iva)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje_Taza_Estadistica)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje_Taza_Estadistica)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje_Importacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje_Importacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
