@model Modelo.Posicion_Arancelaria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Posicion_Arancelaria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero_Posicion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero_Posicion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje_Iva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje_Iva)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje_Taza_Estadistica)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje_Taza_Estadistica)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Porcentaje_Importacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Porcentaje_Importacion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
