@model Modelo.Despacho

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Despacho</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Costo_despacho_producto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Costo_despacho_producto)
            @Html.ValidationMessageFor(model => model.Costo_despacho_producto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dc)
            @Html.ValidationMessageFor(model => model.Dc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Oficializacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Oficializacion)
            @Html.ValidationMessageFor(model => model.Oficializacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fob_Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fob_Total)
            @Html.ValidationMessageFor(model => model.Fob_Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Flete_Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Flete_Total)
            @Html.ValidationMessageFor(model => model.Flete_Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Seguro_Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Seguro_Total)
            @Html.ValidationMessageFor(model => model.Seguro_Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cotizacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cotizacion)
            @Html.ValidationMessageFor(model => model.Cotizacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo_Afip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo_Afip)
            @Html.ValidationMessageFor(model => model.Codigo_Afip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Arancel_Sim)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Arancel_Sim)
            @Html.ValidationMessageFor(model => model.Arancel_Sim)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Servicio_Guarda)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Servicio_Guarda)
            @Html.ValidationMessageFor(model => model.Servicio_Guarda)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
