@model Modelo.Despacho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Despacho</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Costo_despacho_producto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Costo_despacho_producto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Oficializacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Oficializacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fob_Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fob_Total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Flete_Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Flete_Total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Seguro_Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seguro_Total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cotizacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cotizacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo_Afip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo_Afip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Arancel_Sim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Arancel_Sim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Servicio_Guarda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Servicio_Guarda)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
