@model IEnumerable<Modelo.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
      @*  <th>
            @Html.DisplayNameFor(model => model.Posicion_Arancelaria.Id)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
    @*    <td>
            @Html.DisplayFor(modelItem => item.Posicion_Arancelaria.Id)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
@*            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
